body{
    align-items: center;
    height: 40vh;  
    /* display:flex; */
    background-color: #484343;
}
h1 {
    font-size: 2rem;
    background-color: rgb(129, 129, 129); 
    font-family: Georgia, serif;
    /* font-family: 'Peralta', cursive; */
    text-align: center;
}

.letter {
    transition: color 500ms;
    
}

.completed{
    text-decoration: line-through;
}

h2 {
    text-align: center;
}

#listOfTodo {
    text-align: center;
}

#newTodoForm{
    text-align: center;
}