body{
    align-items: center;
    height: 80vh;  
    /* display:flex; */
    background-color: #484343;
}
h1 {
    font-size: 5rem;
    background-color: rgb(129, 129, 129); 
    font-family: 'Eater', cursive;
    /* font-family: 'Peralta', cursive; */
}

.letter {
    transition: color 300ms;
}

.completed{
    text-decoration: line-through;
}

